.cateroiesContainer {
  height: 100vh;
  background-color: #2a291e;
  &--header {
    color: $highlight-color;
  }
  &__changeBg{
    background-color: $primary-color;
    padding: 12px;
    width: 100vw;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  p{
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}
}
