.form--submitBtn{
    background-color: #000000;
    color: white;
    width: 25%;
    display: block;
    margin: 0 auto;
    padding: 12px 22px;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}